.header__menu {
    background-image: none;
    padding: 0;
    position: absolute;
    z-index:99;
    width: 100%;
    a {
        display: block;
        margin-left: 0;
        padding: 15px;
        box-sizing: border-box;
        &:before {
            display: none;
        }
    }
}

