$header-xs-search-bg: lighten(#325c63, 10%);

header.header {
    position: relative;
}

header.header>.container {
    position: relative;
}
div.header__top {
    background-color: #325c63;
    padding:10px 0;
}

.header__callback {
    float: none;
    display: table;
    margin: 0 auto;
    padding: 8px 15px;
    font-size: 16px;
    span:before {
        display: none;
    }
}

.header__aside {
    padding-top:0;
}


.header__phone {

    display: block;
    color: white;
    text-align: center;
    padding-top: 9px;
    font-size: 14px;

    a {
        color: white;
    }

    small {
        position: static;
        color: inherit;
        font-size: inherit;

        &:before {
            display: none;
            content: none;
        }
    }
}



.header__search--active {
    .header__search__dropdown {
        display: block;
    }
}

