$header-menu-marker-size: 17px;
$header-menu-link-space: 5px;

.header__menu {
    padding: 15px 0;
    background: {
        color: rgb(40, 107, 113);
        image: url('../img/header-menu-bg.png');
        repeat: no-repeat;
        position: center;
    }
}

.header__navigation {
    a {
        position: relative;
        color: white;
        font: bold 18px $font-name;
        text-decoration: none;
        border-bottom: 1px solid white;
        margin-left: $header-menu-marker-size+ ($header-menu-link-space * 2);
        &:hover {
            color: #6dbcc3;
            border-bottom-color: transparent;
        }
        &:before {
            content: '';
            position: absolute;
            display: inline-block;
            top: 5px;
            left: ($header-menu-marker-size + $header-menu-link-space) * -1;
            background: url('../img/header-menu-separator.png');
            height: $header-menu-marker-size;
            width: $header-menu-marker-size;
        }

        &:first-child {
            margin-left: 0;
            &:before {
                display:none;
            }
        }
    }
}

.header__search {
    display: inline-block;
    width: auto;
    float: right;
    input {
        background: none;
        border: none;
        border-bottom: 2px solid #abbabd;
        color: white;
        font: 12px $font-name;
        text-transform: uppercase;
        margin-right: 5px;
        position: relative;
        bottom: 5px;
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:    white;
            opacity: 1;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    white;
            opacity:  1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    white;
            opacity:  1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:    white;
        }
    }

    button {
        background: {
            color: transparent;
            image: url('../img/header-search.png');
            repeat: no-repeat;
        }
        border:none;
        display: inline-block;
        height: 24px;
        width: 24px;
    }
}
