$header-xs-search-bg: lighten(#325c63, 10%);

.header__top {
    padding: 20px 0;
}

.header__icon {
    display: block;
    text-decoration: none;
    border: none;
    img {
        max-width: 100%;
    }
}

.header__phone {
    display: block;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: black;

    a {
        color: black;
        text-decoration: none;
    }
    //somethings
    small {
        position: relative;
        bottom: 5px;
        color: #558289;
        font-size: 17px;
        margin-right: 5px;
        &:before {
            content:'';
            position: relative;
            margin-right: 5px;
            top: 5px;
            display: inline-block;
            height: 17px;
            width: 17px;
            background: url('../img/header-phone.png');
        }
    }
}

.header__callback {

    float: right;
    span:before {
        content: '';
        position: relative;
        top:1px;
        display: inline-block;
        background: url('../img/header-call-before.png');
        height: 15px;
        width: 13px;
        margin-right: 5px;
    }
}

.header__aside {
    padding-top: 15px;
}

.header__search__dropdown {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left:0;
    background: $header-xs-search-bg;

    .row {
        position: relative;
    }

    .triangle--top {
        left: 89%;
    }

    input {
        @include reset;
        @include placeholder-color(white);
        color: white;

        &:focus, &:active {
            background: white;
            color: $header-xs-search-bg;
            @include placeholder-color($header-xs-search-bg);
        }
    }
}


#header__search__toggler {
    margin-top: 2px;
}
.header__search--xs {
    position: static;
    min-height: 38px;
    button {
        position: relative;
        top: 6px;
        display: block;
        background: url('../img/header-search.png');
        @include size(23px);
        border: none;
        padding:0;
        margin: 0 auto;
    }
    input {
        display: block;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
}

.header__burger {
    padding-top: 6px;
    .btn-burger {
        width: 15px;
    }
    .btn-burger--pressed span {
        width: 60%;
    }
}

button.btn-burger--pressed {

}
