.benefits__list > div:last-child {
    width: 100%;
    padding-bottom: 0;
}

.benefits__list > div {
    padding-bottom: 20px;
}

.benefits {
    span {
        font-size: 14px;
    }
}

.benefits__item {
    @include size(115px);
    margin-bottom: 10px;
}
