$consult-xs-pd: 6px;

.consult__wrapper, .consult__wrapper--static {
    position: static;
    background:{
        image: url('../img/index-doctors.png');
        position: 85% 100%;
    }
}

.consult__input {
    width: 100%;
}

.consult__box {
    padding: 20px;
    box-sizing: border-box;
}

.consult__text {
    padding-top: $consult-xs-pd;
}

.consult__input {
    padding:{
        top: $consult-xs-pd;
        bottom: $consult-xs-pd;
    }
}

.consult__footer {
    padding-top:0;
    span {
        padding: 10px 0;
    }
}

.consult__header {
    margin-bottom: 20px;

    h1 {
        text-align: center;
        font-size: 22px;
    }
}


