.footer__disclaimer {
    display: table;

    i {
        box-sizing: border-box;
        padding-left: 10px;
        font-size: 12px;
        display: block;
        padding-top: 5px;
    }

    span, i {
        float: left;
    }
}
