.footer__call {
    text-align: right;

    a {
        color: black;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        //somethings
        small {
            position: relative;
            bottom: 5px;
            color: #558289;
            font-size: 17px;
            margin-right: 5px;
            &:before {
                content:'';
                position: relative;
                margin-right: 5px;
                top: 5px;
                display: inline-block;
                height: 17px;
                width: 17px;
                background: url('../img/header-phone.png');
            }
        }
    }
}
