footer.footer {
    padding: 0;
}

.footer__disclaimer {
    padding: 34px 15px;
    span, i {
        display: block;
    }
    span {
        display: table;
        width: 20%;
    }
    i {
        width: 80%;
        padding-top:0;
    }
    br {
        display: none;
    }
    img {
        float:right;
    }
}
