.btn-burger {
    display: block;
    margin:0 auto;
    padding:0;
    background: none;
    border: none;
    height: auto;
    width: 100%;
    cursor: pointer;
    font-size: 0;
    min-height: 23px;

    span{
        content: '';
        display: block;
        margin:0 auto;
        transition: transform 0.3s ease-out 0s;
        border-top: 2px solid #6dbcc3;
        width: 100%;
        height: 0;
        margin-bottom: 5px;
        &:last-child {
            margin-bottom:0;
        }
    }

    &.btn-burger--pressed {
        span {
            position: absolute;
            margin-bottom: 0;
            //top:0;
            left:0;
            right:0;
            //bottom:0;

            &:nth-child(2){
                display: none;
            }
            &:first-child {
                transform: rotate(45deg);
            }
            &:last-child {
                transform: rotate(-45deg);
            }
        }

    }
}
