$font-name: 'Noto Sans', sans-serif;

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }

body {
    font: 10pt 'Noto Sans', sans-serif;
    background-color: white;
    color: black;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.triangle--top{
    content: '';
    position: absolute;
    bottom: 100%;
    @include triangle(20px, up, lighten(#325c63, 10%));
}

.show {
    display: block !important;
}

.x-center {
    display: table;
    margin:{
        left: auto;
        right: auto;
    }
}

.btn-blue {
    box-shadow: inset 1px 1.7px 2px rgba(85, 130, 137, 0.17);
    background: {
        color: #6dbcc3;
        image: url('../img/header-call-bg.png');
        repeat: no-repeat;
        position: 125% center;
    }
    padding: 8px 25px;
    border: none;
    color: white;
    font: 18px $font-name;
    font-weight: bold;
    border-radius: 2px;

    &:hover {
        background-color: #32555c;
    }
}
