@mixin adv-icon($num, $x, $y, $h, $w) {
    .adv-icon.adv-#{$num} {
        height: $h;
        width: $w;
        background-position: $x $y;
    }
}

.adv-icon {
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    margin: auto;
    background:{
        image: url('../img/benefits-1.png');
        repeat: no-repeat;
    };
}

@include adv-icon(0, 0, -20px, 81px, 81px);
@include adv-icon(1, -114px, -21px, 72px, 91px);
@include adv-icon(2, -244px, -18px, 78px, 81px);
@include adv-icon(3, -361px, -12px, 92px, 69px);
@include adv-icon(5, -475px, -12px, 84px, 78px);
