.benefits {
    background-color: #6dbcc3;
    color: white;
    padding: 30px 0;

    span {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }
}


.benefits__item {
    position: relative;
    display: block;
    border-radius: 100%;
    @include size(145px);
    margin: 0 auto;
    margin-bottom: 20px;
    background:{
        color: rgb(220,220,220);
    };
}
