$consult-input-padding: 8px;

.index__form {
    position: relative;
    background: {
        color: #f0f0f0;
    }

    img {
        display: table;
        margin: 0 auto;
    }
}

.consult__wrapper {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
}

.consult__box {
    display: table;
    width: 100%;
    padding: 28px 68px;
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    max-width: 815px;
    margin: 0 auto;
    color: white;

    input, textarea {
        display: block;
        width:100%;
        box-sizing: border-box;
        color: #32545b;
        font: 16px $font-name;
        background: linear-gradient(to bottom, #fefefe 0%,#f0f0f0 100%);
        border: 1px solid white;
        border-radius: 2px;
        resize: none;
        padding: 8px 15px;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f0f0f0',GradientType=0 );

        @include placeholder-color(#32545b);

    }

    textarea {
        height: 102px;
        overflow: auto;
    }
}

.consult__content {
    margin: 0 -$consult-input-padding;
}

.consult__input {
    width: 33.3%;
}

.consult__input,
.consult__text {
    float: left;
    box-sizing: border-box;
}

.consult__text,
.consult__input {
    padding: $consult-input-padding;
}

.consult__text {
    width: 100%;
}


.consult__header {
    h1 {
        font-size: 24px;
        padding:0;
        margin:0;
    }

    small {
        font-size: 16px;
    }
}

.consult__footer {
    padding-top: $consult-input-padding * 2;
    span {
        display: block;
        text-align: center;
        padding-top: 10px;
        font-size: 16px;
    }
}


